//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Главная ------------------------------
//  ------------------------------------------------------------------------------

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 118px;
    &__left{
        margin-right: 66px;
    }
    &__title{
        max-width: 580px;
        color: #002265;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 0.25px;
        line-height: normal;
        margin-bottom: 32px;
        &-sub{
            color: #002265;
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 0.175px;
            line-height: normal;
        }
    }
    &__text{
        max-width: 600px;
        color: #082032;
        font-size: 23px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.345px;
    }
    &__img{
        width: 501px;
        height: 467px;
    }
}

.passions{
    margin-bottom: 168px;
    &__title{
        color: #14279B;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.925px;
        margin-bottom: 60px;
        &-sub{
            color: #002265;
            font-size: 35px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.925px;
        }
    }
    &__forms{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__img{
        width: 225px;
        height: 159px;
        margin-bottom: 18px;
        padding-top: 20px;
    }
    &__text{
        color: #000;
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.375px;
        margin-bottom: 13px;
        &-sub{
            color: #000;
            font-size: 25px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.375px;
        }
    }
    &__subtext{
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.99px;
    }
    &__item{
        width: 347px;
        height: 280px;
        border-radius: 13px;
        background: #FFF;
        box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
    }
}

.portfolio{
    &__forms{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__img{
        width: 347px;
        height: 280px;
    }
    &__item{
        width: 347px;
        height: 280px;
    }
}
