//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Главная ------------------------------
//  ------------------------------------------------------------------------------

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 118px;
    &__left{
        margin-right: 66px;
    }
    &__title{
        max-width: 580px;
        color: #002265;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 0.25px;
        line-height: normal;
        margin-bottom: 32px;
        &-sub{
            color: #002265;
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 0.175px;
            line-height: normal;
        }
    }
    &__text{
        max-width: 600px;
        color: #082032;
        font-size: 23px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.345px;
    }
    &__img{
        width: 501px;
        height: 467px;
    }
}